#topcontrol>div {
    background: rgba(0,0,0,0.3) !important;
}
header#kad-banner {
    margin-left: -15px !important;
    margin-right: -15px !important;
}
section#topbar .container .row {height: auto; margin: auto;}

@media (min-width: 992px) {
    .boxed .contentclass, .boxed .featclass, .boxed .footerclass, .boxed .headerclass, .boxed .kad_fullslider, .boxed .navcontainer {
    margin-left: -15px !important;
    margin-right: 15px !important;
}
}
section#cat_nav.third {
    margin-left: -15px;
    margin-right: -15px;
}
ul.sf-dropdown-menu li a {
    line-height: 20px !important;
}
.sliderclass {padding: 0px 0px 0px 0px !important;}
/*
.wrap.clearfix.row.contentbox {
    display: none;
}
*/
@media (max-width: 767px) {
a.flex-prev, a.flex-next {
    display: none;
}
}