#topcontrol>div {
    background: rgba(0,0,0,0.3) !important;
}

section#topbar .container .row {height: auto; margin: auto;}

@media (max-width: 991px) {
div#logo, div#thelogo, .kad-header-widget, .col-md-left, .col-md-right {
    width: 100% !important;
    float: none !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    Height:auto !important;
}
}
@media (min-width: 992px) {
.contentclass {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px !important;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-md-left {float: left;}
.col-md-right {float: right;}
}
.boxed .contentclass, .boxed .featclass, .boxed .headerclass, .boxed .kad_fullslider, .boxed .navcontainer, .flexslider .slides, .virtue_banner {
    margin-left: auto !important;
    margin-right: auto !important;
}
.footerclass {
    margin-left: auto !important;
    margin-right: auto !important;
}

li:after {height: 30px;position: absolute;top: 25%;right: 0px;}

ul.sf-dropdown-menu li a {
    line-height: 20px !important;
    padding: 5px;
}
.sliderclass {padding: 0px 0px 0px 0px !important;}
/*
.wrap.clearfix.row.contentbox {
    display: none;
}
*/
@media (max-width: 767px) {
a.flex-prev, a.flex-next {
    display: none;
}
}
@media (max-width: 600px) {
header#kad-banner {
    top: 0% !important;
    padding: 0px !important;
}
}
@media (min-width: 600px) {
header#kad-banner {
    top: 32px !important;
    padding: 0px !important;
}
}
.space, .space1 {padding: 0px 5px;}
.space2 {padding: 0px 10px;}
.space3 {padding: 0px 15px;}
.space4 {padding: 0px 20px;}

div#mobile-nav-trigger {
    margin-top: -32px;
}
.contentclass, .slider.container-fluid {
    margin-top: 0px;
}
aside#leftsidebar, aside#rightsidebar {
z-index: 1;
}
.main.col-md-8, .main.col-md-6, .main.col-md-12 {
z-index: 0; position: relative;
}
.contentclass, .flexslider .slides, .virtue_banner {
    margin-left: auto !important;
    margin-right: auto !important;
}
.slider-banner {
    margin-top: -5px;
}
.mfp-counter {
    margin-top: 0px;
    left: 20px;
    top: 50px !important
}
.mfp-title {
    background: #000;
    padding: 10px;
}
button.mfp-arrow-left {
    display: block;
}
button.mfp-arrow-left {
    position: absolute;
    left: 30%;
    display: none;
}
button.mfp-arrow-right {
    display: block;
}
button.mfp-arrow-right {
    position: absolute;
    right: 30%;
    display: none;
}
@media (max-width:767px) {
    button.mfp-arrow-left {
    display: block;
}
button.mfp-arrow-left {
    position: absolute;
    left: 10%;
    display: none;
}
button.mfp-arrow-right {
    display: block;
}
button.mfp-arrow-right {
    position: absolute;
    right: 10%;
    display: none;
}
div#ktmain {
    width: 100%;
}
.col-height {
float: left;
width: 100%;
}
}
.entry-content img {
    width: auto;
    margin: 0px 0px;
}
.navclass {
    background: transparent;
}
aside#ktsidebar, aside#ktsidebar .sidebar {
    float: right;
    margin-left: auto;
    margin-right: auto;
}
div#wrapper {
    margin-bottom: 0px !important;
    padding: 0px;
}
.headerclass {
    background: transparent;
}
.widget {
    margin-top: 0px !important;
}
.pad5 {padding: 5px;} .pad10 {padding: 10px;} .pad15 {padding: 15px;} .pad20 {padding: 20px;} .pad25 {padding: 25px;} 
.pad30 {padding: 30px;} .pad60 {padding: 60px;} .pad120 {padding: 120px;}

.pt5 {padding-top: 5px;} .pt10 {padding-top: 10px;} .pt15 {padding-top: 15px;} .pt20 {padding-top: 20px;} .pt25 {padding-top: 25px;} 
.pt30 {padding-top: 30px;} .pt60 {padding-top: 60px;} .pt120 {padding-top: 120px;}

.pr5 {padding-right: 5px;} .pr10 {padding-right: 10px;} .pr15 {padding-right: 15px;} .pr20 {padding-right: 20px;} .pr25 {padding-right: 25px;} 
.pr30 {padding-right: 30px;} .pr60 {padding-right: 60px;} .pr120 {padding-right: 120px;}

.pb5 {padding-bottom: 5px;} .pb10 {padding-bottom: 10px;} .pb15 {padding-bottom: 15px;} .pb20 {padding-bottom: 20px;} .pb25 {padding-bottom: 25px;} 
.pb30 {padding-bottom: 30px;} .pb60 {padding-bottom: 60px;} .pb120 {padding-bottom: 120px;}

.pl5 {padding-left: 5px;} .pl10 {padding-left: 10px;} .pl15 {padding-left: 15px;} .pl20 {padding-left: 20px;} .pl25 {padding-left: 25px;} 
.pl30 {padding-left: 30px;} .pl60 {padding-left: 60px;} .pl120 {padding-left: 120px;}

.mar-a{margin: auto;} .mar5 {margin: 5px;} .mar10 {margin: 10px;} .mar15 {margin: 15px;} .mar20 {margin: 20px;} .mar25 {margin: 25px;} 
.mar30 {margin: 30px;} .mar60 {margin: 60px;} .mar120 {margin: 120px;}

.mt-a{margin-top: auto;} .mt5 {margin-top: 5px;} .mt10 {margin-top: 10px;} .mt15 {margin-top: 15px;} .mt20 {margin-top: 20px;} .mt25 {margin-top: 25px;} 
.mt30 {margin-top: 30px;} .mt60 {margin-top: 60px;}  .mt120 {margin-top: 120px;} 

.mr-a{margin-right:auto;} .mr5 {margin-right:5px;} .mr10 {margin-right:10px;} .mr15 {margin-right:15px;} .mr20 {margin-right:20px;} .mr25 {margin-right:25px;} 
.mr30 {margin-right:30px;} .mr60 {margin-right:60px;} .mr120 {margin-right:120px;}

.mb-a{margin-bottom:auto;} .mb5 {margin-bottom:5px;} .mb10 {margin-bottom:10px;} .mb15 {margin-bottom:15px;} .mb20 {margin-bottom:20px;} .mb25 {margin-bottom:25px;} 
.mb30 {margin-bottom:30px;} .mb60 {margin-bottom:60px;} .mb120 {margin-bottom:120px;}

.ml-a{margin-left:auto;} .ml5 {margin-left:5px;} .ml10 {margin-left:10px;} .ml15 {margin-left:15px;} .ml20 {margin-left:20px;} .ml25 {margin-left:25px;} 
.ml30 {margin-left:30px;} .ml60 {margin-left:60px;} .ml120 {margin-left:120px;}

@media (max-width: 400px) {

}

@media (min-width: 401px) {

}

@media (max-width: 543px) {

}

@media (min-width: 544px) {

}

@media (max-width: 767px) {
.pad5 {padding: 2px;} .pad10 {padding: 4px;} .pad15 {padding: 6px;} .pad20 {padding: 12px;} .pad25 {padding: 14px;} 
.pad30 {padding: 16px;} .pad60 {padding: 32px;} .pad120 {padding: 64px;}
    
.pt5 {padding-top: 2px;} .pt10 {padding-top: 4px;} .pt15 {padding-top: 6px;} .pt20 {padding-top: 12px;} .pt25 {padding-top: 14px;} 
.pt30 {padding-top: 16px;} .pt60 {padding-top: 32px;} .pt120 {padding-top: 64px;}

.pr5 {padding-right: 2px;} .pr10 {padding-right: 4px;} .pr15 {padding-right: 6px;} .pr20 {padding-right: 12px;} .pr25 {padding-right: 14px;} 
.pr30 {padding-right: 16px;} .pr60 {padding-right: 32px;} .pr120 {padding-right: 64px;}
    
.pb5 {padding-bottom: 2px;} .pb10 {padding-bottom: 4px;} .pb15 {padding-bottom: 6px;} .pb20 {padding-bottom: 12px;} .pb25 {padding-bottom: 14px;} 
.pb30 {padding-bottom: 16px;} .pb60 {padding-bottom: 32px;} .pb120 {padding-bottom: 64px;}

.pl5 {padding-left: 2px;} .pl10 {padding-left: 4px;} .pl15 {padding-left: 6px;} .pl20 {padding-left: 12px;} .pl25 {padding-left: 14px;} 
.pl30 {padding-left: 16px;} .pl60 {padding-left: 32px;} .pl120 {padding-left: 64px;}

.mar-a{margin: auto;} .mar5 {margin: 2px;} .mar10 {margin: 4px;} .mar15 {margin: 6px;} .mar20 {margin: 12px;} .mar25 {margin: 14px;} 
.mar30 {margin: 16px;} .mar60 {margin: 32px;} .mar120 {margin: 64px;}

.mt-a{margin-top: auto;} .mt5 {margin-top: 2px;} .mt10 {margin-top: 4px;} .mt15 {margin-top: 6px;} .mt20 {margin-top: 12px;} .mt25 {margin-top: 14px;} 
.mt30 {margin-top: 16px;} .mt60 {margin-top: 32px;} .mt120 {margin-top: 64px;}

.mr-a{margin-right:auto;} .mr5 {margin-right:2px;} .mr10 {margin-right:4px;} .mr15 {margin-right:6px;} .mr20 {margin-right:12px;} .mr25 {margin-right:14px;} 
.mr30 {margin-right:16px;} .mr60 {margin-right:32px;} .mr120 {margin-right:64px;}

.mb-a{margin-bottom:auto;} .mb5 {margin-bottom:2px;} .mb10 {margin-bottom:4px;} .mb15 {margin-bottom:6px;} .mb20 {margin-bottom:12px;} .mb25 {margin-bottom:14px;} 
.mb30 {margin-bottom:16px;} .mb60 {margin-bottom:32px;} .mb120 {margin-bottom:64px;}

.ml-a{margin-left:auto;} .ml5 {margin-left:2px;} .ml10 {margin-left:4px;} .ml15 {margin-left:6px;} .ml20 {margin-left:12px;} .ml25 {margin-left:14px;} 
.ml30 {margin-left:16px;} .ml60 {margin-left:32px;} .ml120 {margin-left:64px;}
}

@media (min-width: 768px) {

}

@media (max-width: 991px) {

}

@media (min-width: 992px) {

}

@media (max-width: 1199px) {

}

@media (min-width: 1200px) {

}