#topcontrol>div {
    background: rgba(0,0,0,0.3) !important;
}

section#topbar .container .row {height: auto; margin: auto;}

/*
@media (min-width: 992px) {
    .boxed .contentclass, .boxed .featclass, .boxed .footerclass, .boxed .headerclass, .boxed .kad_fullslider, .boxed .navcontainer {
    margin-left: -15px !important;
    margin-right: 15px !important;
}
}
*/
.boxed .contentclass, .boxed .featclass, .boxed .footerclass, .boxed .headerclass, .boxed .kad_fullslider, .boxed .navcontainer, .flexslider .slides, .virtue_banner {
    margin-left: -30px;
    margin-right: -30px;
}

li:after {height: 30px;position: absolute;top: 25%;right: 0px;}

ul.sf-dropdown-menu li a {
    line-height: 20px !important;
    padding: 5px;
}
.sliderclass {padding: 0px 0px 0px 0px !important;}
/*
.wrap.clearfix.row.contentbox {
    display: none;
}
*/
@media (max-width: 767px) {
a.flex-prev, a.flex-next {
    display: none;
}
}
@media (max-width: 600px) {
header#kad-banner {
    top: 0% !important;
    padding: 0px !important;
}
}
@media (min-width: 600px) {
header#kad-banner {
    top: 32px !important;
    padding: 0px !important;
}
}
.space, .space1 {padding: 0px 5px;}
.space2 {padding: 0px 10px;}
.space3 {padding: 0px 15px;}
.space4 {padding: 0px 20px;}

div#mobile-nav-trigger {
    margin-top: -32px;
}
.contentclass, .slider.container-fluid {
    margin-top: 1px;
}
aside#leftsidebar, aside#rightsidebar {
z-index: 1;
}
.main.col-md-8, .main.col-md-6, .main.col-md-12 {
z-index: 0; position: relative;
}
.row-height, .contentclass {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px !important;
}
.contentclass, .flexslider .slides, .virtue_banner {
    margin-left: auto !important;
    margin-right: auto !important;
}
.slider-banner {
    background-color: #fff;
    margin-top: -5px;
}
.mfp-counter {
    margin-top: 0px;
    left: 20px;
    top: 50px !important
}
.mfp-title {
    background: #000;
    padding: 10px;
}
button.mfp-arrow-left {
    display: block;
}
button.mfp-arrow-left {
    position: absolute;
    left: 30%;
    display: none;
}
button.mfp-arrow-right {
    display: block;
}
button.mfp-arrow-right {
    position: absolute;
    right: 30%;
    display: none;
}
@media (max-width:767px) {
    button.mfp-arrow-left {
    display: block;
}
button.mfp-arrow-left {
    position: absolute;
    left: 10%;
    display: none;
}
button.mfp-arrow-right {
    display: block;
}
button.mfp-arrow-right {
    position: absolute;
    right: 10%;
    display: none;
}
}